.product1, .product2{
    font-family: var(--font-1);
    color: #353535;
    min-height: 565.05px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 308px;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width: 1540px) {
        max-width: 225px;
        margin-left: 8px;
        align-items: unset;
        min-height: unset;
    }

    @media (max-width: 420px) {
        max-width: 100%;
    }

    img{
        cursor: pointer;
    }

    .product-content{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .colors1{
            display: flex;
            gap: 8px;
    
            li{
                a{
                    display: block;
                    height: 27px;
                    width: 27px;
                    border-radius: 4px;
                }
    
                &.option1 > a{
                    background-color: #DEAC71;
                }
    
                &.option2 > a{
                    background-color: #D37164;
                }
    
                &.option3 > a{
                    background-color: #6497D3;
                }
    
                &.option4 > a{
                    background-color: #3C3B79;
                }
            }
        }
    
        .colors2{
            display: flex;
            gap: 8px;
    
            li{
                a{
                    display: block;
                    height: 27px;
                    width: 27px;
                    border-radius: 4px;
                }
    
                &.option1 > a{
                    background-color: #1C1A19;
                }
    
                &.option2 > a{
                    background-color: #D84E4B;
                }
    
                &.option3 > a{
                    background-color: #CFC9B0;
                }
    
                &.option4 > a{
                    background-color: #EAE9E5;
                }
            }
        }
    
        .price{
            font-size: 20px;
            font-weight: 700;
        }
    
        .product-name{
            font-family: var(--font-1);
            font-size: 16px;
        }
    
        .product-description{
            color: #000000;
            font-size: 12px;
            opacity: 0.5;
            max-width: 254px;
        }
    
        .add-to-cart{
            background: #FAA500;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 400;
            border: none;
            color: #fff;
            width: 100%;
            max-width: 254px;
            height: 35px;
        }
    }
}