header {
  font-family: var(--font-1);
}
header .header-top {
  height: 24px;
  background-color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .header-top p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
}
@media (max-width: 991px) {
  header .header-top p {
    font-size: 10px;
  }
  header .header-top p.yasmin {
    display: none;
  }
}
header .main-header {
  height: 88px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}
header .main-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 93px;
}
@media (max-width: 991px) {
  header .main-header__content {
    gap: 0px;
  }
}
@media (max-width: 991px) {
  header .main-header__content .logo-menu-holder {
    display: flex;
    align-items: center;
    gap: 19px;
  }
}
@media (max-width: 991px) and (max-width: 420px) {
  header .main-header__content .logo-menu-holder .home-redirect > img {
    max-width: 110px;
  }
}
@media (min-width: 991px) {
  header .main-header__content .logo-menu-holder .toggle {
    display: none;
  }
}
@media (max-width: 991px) {
  header .main-header__content .logo-menu-holder .toggle {
    display: block;
  }
}
header .main-header__content .search-container {
  display: flex;
  width: 100%;
  max-width: 791px;
}
@media (max-width: 991px) {
  header .main-header__content .search-container.desktop-only {
    display: none;
  }
}
header .main-header__content .search-container form {
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: row;
  max-width: 791px;
}
header .main-header__content .search-container form input[type=text] {
  background-color: #EFEFEF;
  border-radius: 10px;
  border: none;
  height: 40px;
  padding-left: 24px;
  flex-grow: 2;
  position: relative;
}
header .main-header__content .search-container form button {
  background: #FAA500;
  border-radius: 8px;
  width: 100%;
  max-width: 119px;
  border: none;
  height: 40px;
  font-size: 14px;
  color: #EFEFEF;
  position: absolute;
  right: 0;
  font-weight: 400;
}
header .main-header__content .profile-links {
  width: 100%;
  max-width: 422px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  header .main-header__content .profile-links.desktop-only {
    display: none;
  }
}
@media (min-width: 991px) {
  header .main-header__content .profile-links.mobile-only {
    display: none;
  }
}
@media (max-width: 991px) {
  header .main-header__content .profile-links.mobile-only {
    display: flex;
    max-width: 85px;
    gap: 40px;
  }
}
header .main-header__content .profile-links a {
  font-size: 14px;
  color: #353535;
  text-decoration: none;
}
header .main-header__content .profile-links a img {
  margin-right: 8px;
}
header .main-header__content .profile-links .cart {
  border: solid 1px #FAA500;
  padding: 12px;
  margin: 0px;
  border-radius: 8px;
}
@media (max-width: 991px) {
  header .main-header__content .profile-links .cart.mobile-only {
    border: none;
    padding: 0;
  }
  header .main-header__content .profile-links .cart.mobile-only a {
    display: block;
  }
  header .main-header__content .profile-links .cart.mobile-only a img {
    height: 24px;
    width: 20.77px;
  }
}
header .nav-bar {
  height: 48px;
}
@media (min-width: 991px) {
  header .nav-bar {
    display: block;
  }
}
@media (max-width: 991px) {
  header .nav-bar {
    display: none;
  }
}
header .nav-bar__content {
  display: flex;
  height: 100%;
}
header .nav-bar__content ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
header .nav-bar__content ul li {
  width: 146px;
  text-align: center;
}
header .nav-bar__content ul li a {
  font-size: 14px;
  color: #353535;
  text-decoration: none;
}
header .nav-bar__content ul li.news a {
  font-weight: 700;
  color: #FAA500;
}
header .nav-bar__content ul li.news a img {
  margin-right: 9.75px;
}

/*# sourceMappingURL=header.css.map */
